<%inherit file="/html/base.html"/>

<%block name="content">

        <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <div>
                <h3>
                    Here id page_3 demo ``
                </h3>
            </div>
        </div>

        </nav>
        </div>
            <div class="row border-bottom white-bg dashboard-header">
                header
            </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content">
                    content
                </div>

</%block>




<%block name="JavaScript">
    <script>
        $(document).ready(function() {
            $("#sidebar-page-3").addClass("active");
        });
    </script>

</%block>

